It is true that the subject is not changed, the subject used during authentication, is used again in the CSR instead of proposing the new one. But actually, the new subject is proposed using the `ChangeSubjectName` attribute attached as a x509v3 attribute extension.

In this execution you have activated the RFC 7030 STRICT MODE (parameter `strict=1` in the configuration file, or the flag `--strict` in command line).

When a client is authenticating using a shared secret, the RFC 7030 says that the client is free to ask for any subject name during the enrollment: it only has to set the requested subject name in the Subject attribute in the CSR passed to the EST server. But things get a bit more complicated when authentication is based on client certificates.

In section 4.2.2 of the RFC 7030 (https://tools.ietf.org/html/rfc7030#section-4.2.2) we can read the following requirement/nightmare:

    4.2.2.  Simple Re-enrollment of Clients

       EST clients renew/rekey certificates with an HTTPS POST using the
       operation path value of "/simplereenroll".

       A certificate request employs the same format as the "simpleenroll"
       request, using the same HTTP content-type.  The request Subject field
       and SubjectAltName extension MUST be identical to the corresponding
       fields in the certificate being renewed/rekeyed.  The
       ChangeSubjectName attribute, as defined in [RFC6402], MAY be included
       in the CSR to request that these fields be changed in the new
       certificate.

       If the Subject Public Key Info in the certification request is the
       same as the current client certificate, then the EST server renews
       the client certificate.  If the public key information in the
       certification request is different than the current client
       certificate, then the EST server rekeys the client certificate.

Maybe we are wrong, but we have interpreted the RFC in this way: if a EST client wants to request a new and different subject name,

1. the subject name provided during authentication (by the birth or manufacturer certificate) must be presented again in the `SubjectName` field in the CSR, and

2. the new (requested) operational subject name must be inserted in a `ChangeSubjectName` attribute attached as an x509v3 extension in the CSR. 

You can observe that the ASN.1 dump found in the debug output above is the `ChangeSubjectName` x509v3 attribute extension forged and inserted into the CSR. It can be observed also that both, the `ChangeSubjectName` and the authentication `SubjectName`, in the following `openssl` output decoding the PKCS#10 (CSR) requested above:

    $ sed 's#^.*: \+##' | grep -vE '^\s*$' | openssl req -text -noout
    ../pest:DBG:     -----BEGIN CERTIFICATE REQUEST-----
    ../pest:DBG:     MIIC0TCCAbkCAQAwNTETMBEGA1UEAwwKU04wMDAwMDAwMTERMA8GA1UECgwIRWxl
        ... some lines removed
    ../pest:DBG:     qHNBZZE=
    ../pest:DBG:     -----END CERTIFICATE REQUEST-----
    Certificate Request:
        Data:
            Version: 1 (0x0)
            Subject: CN = SN00000001, O = Electric, C = ES
            Subject Public Key Info:
                Public Key Algorithm: rsaEncryption
                    RSA Public-Key: (2048 bit)
                    Modulus:
                        00:b7:12:70:b0:c8:42:b9:10:91:08:86:d3:6f:e1:
                        ... some hexa lines removed ...
                        94:cc:2e:08:bc:dd:63:e0:2d:bc:61:81:b1:3b:3e:
                        47:85
                    Exponent: 65537 (0x10001)
            Attributes:
            Requested Extensions:
                1.3.6.1.5.5.7.7.36:
    ..U.            06041.0...U....fail.testca1.0
    ..testca1.0...U....ES
        Signature Algorithm: sha256WithRSAEncryption
             4f:5d:c1:d7:da:9e:0d:60:58:ea:2b:07:25:e4:cd:04:2b:09:
               ... more hexa lines removed ...
             73:41:65:91

In this strict (and painful) mode, note that the invocation to the pest tool is performed in this way:

    ../pest -C /xxx.crt \
            -l https://xxx:8443/xxx/est -O -v -D -o out/rfc/test-2.2/step-0/in-1 \
            -b 2048 -u xxx:xxx -c certs/dec001.pem -k certs/dec001.key \
            -s /CN=SN00000001/O=Electric/C=ES \
            -S /CN=fail.testca/O=testca/C=ES \
            simpleenroll

In the non-strict mode (request subject is inserted directly in the Subject Name attribute in the CSR), invocation is done in this way:

    ../pest -C /xxx.crt \
            -l https://XXX:8443/XXX/est -O -v -D -o out/rfc/test-2.2/step-0/in-1 \
            -b 2048 -u xxx:xxx -c certs/dec001.pem -k certs/dec001.key \
            -s /CN=fail.testca/O=testca/C=ES \
            simpleenroll

In both cases/invocations, the returned X.509 certificate should have the subject `/CN=fail.testca/O=testca/C=ES`.

I will not close this issue because in spite of not seeming a bug. I am really interested on your feedback about our interpretation of the RFC. It is a pretty dark point on the RFC and we are not completely confident of our implementation.

PD: The extended attribute `ChangeSubjectName` is not common. We have not found any implementation honoring this feature and following strictly the RFC 7030. There is nearly not any reference in Internet of the use of this feature, and less related to the use of this feature in EST. All EST implementations we have checked do not support this attribute. Maybe this test EST client is the first implementation using it.

Hi,

I think that "the new (requested) operational subject name must be inserted in a ChangeSubjectName attribute attached as an x509v3 extension in the CSR." is not correct. 
[RFC6402, section 2.8](https://datatracker.ietf.org/doc/html/rfc6402#section-2.8) says:

>   The attribute is designed to be used as an ATTRIBUTE object.  As
>    such, the attribute is placed in one of the following two places:
> 
>   The attributes field in a CertificationRequest.

When inserted as an extension request, it is added inside an pkcs_9_at_extensionRequest sequence in the attribute sequence, but it should be directly in the attribute sequence.

Here is an example CSR where we put the ChangeSubjectName as an Attribute in the CSR. 

>-----BEGIN CERTIFICATE REQUEST-----
>MIIBWDCB/gIBADBFMSUwIwYDVQQDDBxFc3RWZW5kb3JNb2RlVGVzdC52ZW5kb3Jj
>ZXJ0MQ8wDQYDVQQKDAZWZW5kb3IxCzAJBgNVBAYTAkVTMFkwEwYHKoZIzj0CAQYI
>KoZIzj0DAQcDQgAEXRs45D9nVWkWzKhQumqxq0gxbZ5zc54fG9u3kuNRBGIQPadF
>iXHS7MLotnc5feuEDwsqiWxHurob+6FcL0G8NqBXMFUGCCsGAQUFBwckMUkwRzBF
>MSUwIwYDVQQDDBxFc3RWZW5kb3JNb2RlVGVzdC52ZW5kb3JjZXJ0MQ8wDQYDVQQK
>DAZWZW5kb3IxCzAJBgNVBAYTAkVTMAoGCCqGSM49BAMCA0kAMEYCIQC60dCqSVov
>gPkR39chclHbxBFOWI7/HtHn3gXwdv2mQAIhAPmTG6ghliKIMSPj5zooksH+ejza
>19Bc5CoeNs3p7c0R
>-----END CERTIFICATE REQUEST-----

It seems that Crypt::OpenSSL::PKCS10 does not have a method to add a raw attribute perhaps?
This perl module seems to be able to create attributes as well as extension request, https://metacpan.org/pod/Crypt::Perl::PKCS10.


Hi @primetomas , just a small typo, it is RFC 6402, not RFC 6408.

Hi @primetomas 

Can you share an example on how you wrote your OpenSSL config file to generate that CSR? (particularly the sections related to **ChangeSubjectName** attribute)  
It appears the example above does not print any data, where the OID stands for the attribute we're talking about

```
Attributes:
            1.3.6.1.5.5.7.7.36       :unable to print attribute
            Requested Extensions:
    Signature Algorithm: ecdsa-with-SHA256

```

I was expecting to see the SAN or the subject under `Attributes`

And yes, agreed, it should be attached to `Attributes` and not `v3_extensions` of the CSR

@primetomas I agree, after reading that it is clear that the `ChangeSubjectName` data should be placed in the `Attributes` section. Maybe it could be done editing manually the CSR with a more low-level library like `Convert::ASN1`, or even inserting the binary data directly in the CSR as a hack.

PD: sorry for the nearly 3 year delay. I forgot to handle this notification, and now I am in sync again with 2021 xD

@Simkiw I suppose that you are getting this results because `openssl` does not know this attribute. However, note that it succesfully identify it.

I didn't use OpenSSL to generate the CSR, but did it in Java using Bouncy Castle.

Something like this (not runnable code):

```
// ChangeSubjectName, RFC7030 section 4.2.1, RFC6402, section 2.8
final ASN1EncodableVector changesubjectnameattr = new ASN1EncodableVector(); // Attribute { ATTRIBUTE:IOSet } ::= SEQUENCE {
final ASN1EncodableVector changeSubjectName = new ASN1EncodableVector();
// ChangeSubjectName attribute
// The actual ChangeSubjectName value
// ChangeSubjectName ::= SEQUENCE {
//    subject             Name OPTIONAL,
//    subjectAlt          SubjectAltName OPTIONAL
//}
//(WITH COMPONENTS {..., subject PRESENT} |
//      COMPONENTS {..., subjectAlt PRESENT} )
changesubjectnameattr.add(EstConfiguration.id_cmc_changeSubjectName); // Type
final X500Name changenameValue = new X500Name(CeSecoreNameStyle.INSTANCE, changeToSubjectDN);
changeSubjectName.add(changenameValue);
final ASN1EncodableVector changevalues = new ASN1EncodableVector();    
changevalues.add(new DERSequence(changeSubjectName));
final DERSet values = new DERSet(changevalues); // values
changesubjectnameattr.add(values);
attributesVec.add(new DERSequence(changesubjectnameattr));
// Complete the Attribute section of the request, the set (Attributes) contains two sequences (Attribute)
DERSet attributes = new DERSet(attributesVec);
// Create PKCS#10 certificate request
final PKCS10CertificationRequest p10request = CertTools.genPKCS10CertificationRequest("SHA256WithECDSA",
DnComponents.stringToBcX500Name(dn), keys.getPublic(), attributes, keys.getPrivate(), null);
```


Oh, that's another way of doing things :)
Ok thanks, I might go with your approach as well.